body {
    margin: 0;
    background-image: url(images/FourK.jpg);
    background: cover;
    font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  }
  
#showcase {
    background-image: url(images/FourK.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
  }
#showcase1{
    background-image: url(images/FourK.jpg);
    /* background: linear-gradient(#f2709c, #ff9472); */
    height: 175vh;
    background-size: cover;
    background-position: center;
  }
  a,
  .grow {
    color: black;
    transition: all 0.2s ease-in-out;
  }
  
  a:hover {
    color: black;
  }
  
  .grow:hover {
    transform: scale(1);
    color: black;
  }
  
  .card {
      transform: scale(.9);
  }

  .words {
    font-family: Verdana, sans-serif;
  }
  
  @keyframes slideInFromLeft {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(0);
    }
  }
  
  .title {
    /* This section calls the slideInFromLeft animation we defined above */
    animation: 1.5s ease-out 0s 1 slideInFromLeft;
  }
  
  @keyframes slideinRight {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(0);
    }
  }
  
  .paras {
    /* This section calls the slideInFromLeft animation we defined above */
    animation: 1.5s ease-out 0s 1 slideinRight;
  }
  